fastapi
uvicorn
sqlalchemy
alembic
pymysql
pydantic
pydantic-settings
python-dotenv
python-multipart
minio
httpx
tenacity
python-json-logger
pytest
pytest-asyncio
PyYAML
toml
requests
beautifulsoup4
tqdm
regex
pylatexenc
tiktoken
langchain-openai
langchain-core
aiohttp
pandas
